/**
 * Main stylesheet (aggregator) for Chicago Catalyst
 * Is compiled into css/main.css by Grunt; see Gruntfile.js
 */
/* Largo essentials */
/**
 * @group Color
 * @label Base Color (used for navbar, widget titles, etc.)
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Header/Footer Color
 * @type color
 * @default_value #222
 */
/**
 * @group Color
 * @label Pre-Footer Color
 * @type color
 * @default_value #ddd
 */
/**
 * @group Color
 * @label Color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Hover color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Background color of post meta boxes (author bio, related posts, etc.)
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Body Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Page Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Text Color
 * @type color
 * @default_value #333
 */
/**
 * @group Basics
 * @label Default Vertical Spacing
 * @type pixels
 * @default_value 24px
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type text
 * @default_value "Helvetica Neue", Helvetica, Arial, sans-serif
 */
/**
 * @group Typography
 * @label Serif Font Family
 * @type text
 */
/**
 * @group Typography
 * @label Base Font Size
 * @type pixels
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type dropdown
 * @options @serifFontFamily|@sansFontFamily
 * @default_value @serifFontFamily
 */
/**
 * @group Typography
 * @label Base Line Height
 * @type text
 * @default_value 1.5
 */
/* Custom Catalyst variables */
/* Largo nav styles */
html.nav-open,
html.nav-open body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.navbar {
  *position: relative;
  *z-index: 2;
  overflow: visible;
  margin-bottom: 4.8px;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar .container {
  width: auto;
}
.navbar .toggle-nav-bar {
  display: none;
}
.navbar .navbar-inner {
  background-color: #30506e;
}
.navbar .navbar-text {
  margin-bottom: 0;
}
.navbar #header-social li > a {
  padding-left: 4px;
  padding-right: 4px;
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0;
  color: #ffffff;
}
.navbar .nav > li > a {
  color: #ffffff;
}
.navbar li {
  display: block;
  float: left;
  margin-bottom: 0;
}
.navbar li > a {
  display: block;
  text-decoration: none;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar li.dropdown > a {
  padding-right: 0;
}
.navbar li.dropdown .dropdown-menu li a {
  color: #ffffff;
  padding-right: 10px;
  line-height: 1.5;
}
.navbar li.dropdown .dropdown-menu li a:hover {
  color: #f2f2f2;
}
.navbar li > a:hover {
  background-color: #28435c;
  color: #f2f2f2;
}
.navbar li > a:hover .caret:before {
  border-top-color: #f2f2f2;
}
.navbar .sub-menu:before,
.navbar .sub-sub-menu:before {
  border-bottom: 9px solid transparent;
  border-left: none;
  border-right: 9px solid rgba(0, 0, 0, 0.2);
  border-top: 9px solid transparent;
  left: -9px;
  top: 30%;
}
.navbar .sub-menu:after,
.navbar .sub-sub-menu:after {
  border-top: 8px solid transparent;
  border-left: none;
  border-right: 8px solid #ffffff;
  border-bottom: 8px solid transparent;
  top: 31%;
  left: -8px;
}
.navbar li.home-icon a:hover,
.navbar li.home-link a:hover {
  background-color: transparent;
  color: #75a7d4;
}
.navbar .home-icon:hover img,
.navbar li.home-link:hover i {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.navbar li.home-link {
  overflow: hidden;
}
.navbar li.home-link > a {
  display: block;
}
.navbar li.home-link > a:hover {
  background: none;
}
.navbar li.home-link > a img {
  display: block;
  height: 40px;
  width: 40px;
}
.navbar li.home-icon > a {
  padding: 0;
}
.navbar li.home-icon > a:hover {
  background: none;
}
.navbar li.home-icon > a img {
  display: inline-block;
  height: 24px;
  width: auto;
  margin-right: 1em;
}
.navbar .btn-navbar {
  display: none;
  float: left;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  padding: 12.5px 10px;
}
.navbar .btn-navbar .label {
  float: right;
  color: white;
  line-height: 1;
  margin: -2px 0 0 5px;
  padding: 0;
  font-size: 15px;
}
.navbar .btn-navbar .navbar .btn-navbar .bars {
  float: left;
}
.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 3px;
}
.navbar .btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}
@media (min-width: 769px) {
  .navbar .nav-left {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar {
    position: relative;
    z-index: 9;
  }
  .navbar li.dropdown .dropdown-menu li a {
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 40px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .toggle-nav-bar {
    display: block;
  }
  .navbar .nav-shelf {
    background: #dbdada;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .navbar .nav-shelf .site-name,
  .navbar .nav-shelf .home-icon,
  .navbar .nav-shelf .home-link {
    display: none;
  }
  .navbar .nav-shelf ul,
  .navbar .nav-shelf li {
    float: none;
  }
  .navbar .nav-shelf li.home-link {
    display: none;
  }
  .navbar .nav-shelf li b.caret {
    float: right;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .navbar .nav-shelf li.open > a .caret {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .navbar .nav-shelf li.open > ul.dropdown-menu {
    display: block;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0;
  }
  .navbar .nav-shelf li.open > ul.dropdown-menu:before,
  .navbar .nav-shelf li.open > ul.dropdown-menu:after {
    display: none;
  }
  .navbar .nav-shelf .nav > li:last-child {
    border-bottom: none;
    padding-bottom: none;
  }
  .navbar.open .nav-shelf {
    visibility: visible;
    opacity: 1;
    border-bottom: 1px solid #dddddd;
  }
  .navbar .nav li.home-link,
  .navbar .nav li.site-name {
    display: none;
  }
}
.navbar-inner {
  float: left;
  width: 100%;
}
.caret {
  display: inline-block;
  position: relative;
  width: 16px;
  padding: 0 8px;
  top: 2px;
}
.caret:before {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-top: 6px solid #ffffff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
}
.dropup,
.dropdown {
  position: relative;
}
.dropup .caret,
.dropdown .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.dropup.active .caret,
.dropdown.active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dropdown-toggle {
  *margin-bottom: -3px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 3px 0;
  margin: 0;
  list-style: none;
  background-color: #dbdada;
  border: 1px solid #dddddd;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu li {
  padding-top: 0;
  width: 100%;
}
.dropdown-menu li {
  margin-bottom: 0;
}
.dropdown-menu li > a {
  display: block;
  width: auto;
  padding: 3px 15px;
  clear: both;
  white-space: nowrap;
  text-shadow: none;
}
.dropdown-menu li > a:hover {
  text-decoration: none;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  background-color: #dbdada;
}
.dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dddddd;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -10px;
  left: 9px;
}
.dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #dbdada;
  position: absolute;
  top: -9px;
  left: 10px;
}
.dropdown-menu .sub-menu,
.dropdown-menu .sub-sub-menu {
  position: absolute;
  top: -20%;
  left: 99%;
  visibility: hidden;
  margin-top: 0;
}
.dropdown-menu .icon-arrow-right {
  position: relative;
  top: 2px;
  left: 3px;
}
.dropdown-menu li:hover .sub-menu,
.dropdown-menu .sub-menu li:hover .sub-sub-menu {
  visibility: visible;
  display: block;
}
@media (max-width: 768px) {
  .dropdown-menu li:hover .sub-sub-menu,
  .dropdown-menu li:hover .sub-menu {
    display: none;
    visibility: hidden;
  }
  .dropdown-menu li:hover .sub-sub-menu:before,
  .dropdown-menu li:hover .sub-menu:before {
    display: none;
  }
}
@media (min-width: 769px) {
  html.no-touch ul.nav li.dropdown:hover ul.dropdown-menu,
  html.touch ul.nav li.dropdown.open ul.dropdown-menu {
    display: block;
  }
}
.open {
  *z-index: 1000;
}
.open > .dropdown-menu {
  display: block;
}
@media (min-width: 769px) {
  .open > .dropdown-menu {
    display: none;
  }
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "\2191";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
#topics-bar {
  padding: 3px 0;
}
#topics-bar ul {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#topics-bar ul li {
  display: inline;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 14px;
}
#topics-bar ul li.menu-label {
  font-size: 15px;
  font-weight: bold;
}
#main-nav.navbar {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}
.sticky-nav-container {
  margin: 0 auto;
  position: relative;
}
.sticky-nav-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99998;
  visibility: hidden;
  opacity: 0;
  background-color: #30506e;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.sticky-nav-holder.transitioning {
  overflow: hidden;
  height: 56px;
}
.sticky-nav-holder.transitioning .navbar {
  opacity: 0;
}
.sticky-nav-holder.show {
  visibility: visible;
  opacity: 1;
}
body.admin-bar .sticky-nav-holder {
  top: 32px;
}
@media (max-width: 782px) {
  body.admin-bar .sticky-nav-holder {
    top: 46px;
  }
}
@media (max-width: 600px) {
  body.admin-bar .sticky-nav-holder {
    top: 0;
  }
}
@media (min-width: 769px) {
  .sticky-nav-holder {
    display: none;
  }
  body.single .sticky-nav-holder.sticky_nav_display_article,
  body.single .sticky-nav-holder.main_nav_hide_article,
  body.page .sticky-nav-holder.sticky_nav_display_article,
  body.page .sticky-nav-holder.main_nav_hide_article {
    display: block;
  }
}
.navbar.sticky-navbar {
  margin-bottom: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.navbar.sticky-navbar .nav {
  color: #ffffff;
}
.navbar.sticky-navbar li a {
  line-height: 56px;
  color: #ffffff;
}
.navbar.sticky-navbar li a:hover {
  color: #f2f2f2;
}
.navbar.sticky-navbar li a .caret:before {
  border-top-color: #ffffff;
}
.navbar.sticky-navbar li a:hover .caret:before {
  border-top-color: #f2f2f2;
}
.navbar.sticky-navbar li.home-link > a:hover {
  color: #ffffff;
}
.navbar.sticky-navbar li.dropdown .dropdown-menu li a {
  color: #ffffff;
}
.navbar.sticky-navbar li.dropdown .dropdown-menu li a:hover {
  color: #f2f2f2;
}
.navbar.sticky-navbar .social-icons {
  margin: 0;
  float: left;
}
.navbar.sticky-navbar .btn-navbar {
  padding: 0 10px 0 10px;
  margin-right: 0;
  line-height: 56px;
}
.navbar.sticky-navbar .btn-navbar .bars {
  display: inline-block;
}
.navbar.sticky-navbar .btn-navbar .icon-bar {
  background-color: #ffffff;
}
.navbar.sticky-navbar .btn-navbar:hover .icon-bar {
  background-color: #f2f2f2;
}
.navbar.sticky-navbar.home-link {
  min-width: 40px;
  text-align: center;
}
.navbar.sticky-navbar.home-link .nav > li a img {
  width: 1.49em;
  height: 1.49em;
}
.navbar.sticky-navbar.home-link .nav > li .icon-home:before {
  position: relative;
  top: 0;
}
.navbar.sticky-navbar .nav-right {
  float: right;
}
.navbar.sticky-navbar .nav-right #header-extras {
  float: left;
  margin: 0;
}
.navbar.sticky-navbar .nav-right #header-extras a.donate-link:hover {
  background: transparent;
}
.navbar.sticky-navbar .nav-right #header-extras .donate a span {
  padding: 4px 8px;
  color: #ffffff;
  background-color: #8f2508;
}
.navbar.sticky-navbar .nav-right #header-extras .donate a span:hover {
  background-color: #a72b09;
}
.navbar.sticky-navbar .nav-right #header-extras .donate a span i {
  display: none;
}
.navbar.sticky-navbar .nav-right .form-search {
  position: relative;
}
.navbar.sticky-navbar .nav-right .form-search .toggle {
  color: #3c81c1;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 91;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navbar.sticky-navbar .nav-right .form-search .input-append {
  position: absolute;
  right: 44px;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
  z-index: 90;
  width: 246px;
}
.navbar.sticky-navbar .nav-right .form-search .input-append .text-input-wrapper {
  display: block;
  float: left;
  width: 196px;
}
.navbar.sticky-navbar .nav-right .form-search .input-append input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px !important;
}
.navbar.sticky-navbar .nav-right .form-search .input-append button {
  width: 50px !important;
  height: 36px !important;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar.sticky-navbar .nav-right #sticky-nav-search.show .input-append {
  position: absolute;
  opacity: 1;
  visibility: visible;
}
.navbar.sticky-navbar .nav-right #sticky-nav-search.show .input-append,
.navbar.sticky-navbar .nav-right #sticky-nav-search.show .toggle {
  background-color: #343434;
  color: #ffffff;
}
.navbar.sticky-navbar .nav-left > ul {
  margin: 0;
  padding: 0;
}
@media (min-width: 769px) {
  .navbar.sticky-navbar .nav-left {
    display: none;
  }
}
.navbar.sticky-navbar .site-name {
  display: block;
  color: #343434;
}
.navbar.sticky-navbar .site-name a {
  font-weight: bold;
  padding: 0 10px 0 0;
  color: #ffffff;
  max-width: 214px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.navbar.sticky-navbar .site-name a:hover {
  background-color: transparent;
  color: #f2f2f2;
  text-decoration: none;
}
.navbar.sticky-navbar .nav-right {
  float: right;
}
.navbar.sticky-navbar .nav-right #header-extras {
  float: left;
  margin: 0;
}
.navbar.sticky-navbar .nav-right #header-extras a.donate-link:hover {
  background: transparent;
}
@media (max-width: 768px) {
  .navbar.sticky-navbar li.dropdown .dropdown-menu li a {
    line-height: 56px;
  }
  .navbar.sticky-navbar .nav-shelf b.caret {
    padding: 22px;
  }
}
#menu-overflow > ul {
  overflow-y: scroll;
  max-height: 80vh;
}
#menu-overflow > ul .caret::before,
#menu-overflow > ul .caret::after {
  display: none;
}
#menu-overflow > ul ul.dropdown-menu {
  position: relative;
  border: none;
  float: none;
  box-shadow: none;
}
#menu-overflow > ul ul.dropdown-menu li a {
  padding-left: 1.5em;
}
#menu-overflow > ul ul.dropdown-menu::before,
#menu-overflow > ul ul.dropdown-menu::after {
  display: none;
}
#menu-overflow > ul ul.dropdown-menu .sub-menu,
#menu-overflow > ul ul.dropdown-menu .sub-sub-menu {
  display: none;
}
/* This theme's styles */
/**
 * Header image
 */
#site-header img {
  margin-top: 15px;
  max-width: 500px;
  display: block;
}
#site-header > a {
  float: left;
}
#site-header aside {
  box-sizing: border-box;
  margin-bottom: 0;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  padding: 9px;
  text-align: center;
  font-size: 90%;
}
#site-header aside h3 {
  font-size: 21px;
  margin-bottom: 0;
  text-transform: none;
}
#site-header aside p {
  margin-bottom: 11px;
  font-size: 17px;
}
@media screen and (max-width: 880px) {
  #site-header > a {
    float: none;
  }
  #site-header img {
    margin: 0 auto;
  }
  #site-header aside {
    display: none;
  }
}
/* Navigation */
.navbar li.dropdown .dropdown-menu,
.navbar.sticky-navbar li.dropdown .dropdown-menu {
  background-color: #dbdada;
}
.navbar li.dropdown .dropdown-menu li a,
.navbar.sticky-navbar li.dropdown .dropdown-menu li a {
  color: #30506e;
}
.navbar li.dropdown .dropdown-menu li a:hover,
.navbar.sticky-navbar li.dropdown .dropdown-menu li a:hover {
  background-color: #d24f1c !important;
  color: white !important;
}
@media (max-width: 768px) {
  .navbar .nav-shelf li a,
  .navbar.sticky-navbar .nav-shelf li a,
  .navbar .nav-shelf li.dropdown .dropdown-menu li a,
  .navbar.sticky-navbar .nav-shelf li.dropdown .dropdown-menu li a {
    color: #30506e;
  }
  .navbar .nav-shelf li a:hover,
  .navbar.sticky-navbar .nav-shelf li a:hover,
  .navbar .nav-shelf li.dropdown .dropdown-menu li a:hover,
  .navbar.sticky-navbar .nav-shelf li.dropdown .dropdown-menu li a:hover {
    color: #ffffff;
  }
}
#header-search {
  margin-left: 10px;
}
@media screen and (max-width: 800px) and (min-width: 768px) {
  .sticky-nav-wrapper {
    display: none;
  }
}
.single {
  /**
   * Now begins a block of styles left for Legacy support:
   *
   * - figcaption
   * - .in-post
   * - figure
   * @since 1.1
   * @since Largo 0.5.4
   */
}
.single h1.entry-title {
  font-size: 32px;
}
.single article > header figcaption {
  font-size: 70%;
  line-height: 1.3em;
  text-align: right;
}
.single .in-post {
  width: 46%;
  float: right;
  margin-left: 4%;
  margin-right: 1%;
}
.single .in-post img {
  width: 100%;
  max-width: 100%;
  height: auto;
  float: none;
  margin: 10px 0;
}
.single .in-post ul.related {
  margin: 0;
  padding: 0;
}
.single .in-post ul.related li {
  display: block;
}
.single figure {
  margin: 1em auto;
}
.single figure img {
  display: block;
  margin: 0 auto;
}
.single #content .widgettitle,
.single .article-bottom .widget h5.widgettitle,
.single .disqus-header {
  font: 24px/28px 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #d24f1c;
  display: table;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}
.single #content .widgettitle:before,
.single .article-bottom .widget h5.widgettitle:before,
.single .disqus-header:before,
.single #content .widgettitle:after,
.single .article-bottom .widget h5.widgettitle:after,
.single .disqus-header:after {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  background-image: -moz-linear-gradient(transparent 48%, #a4a4a4 48%, #a4a4a4 51%, transparent 51%);
  background-image: -webkit-linear-gradient(transparent 48%, #a4a4a4 48%, #a4a4a4 51%, transparent 51%);
  background-image: linear-gradient(transparent 48%, #a4a4a4 48%, #a4a4a4 51%, transparent 51%);
  content: "";
  display: table-cell;
  width: 50%;
}
.single #content .widgettitle:before,
.single .article-bottom .widget h5.widgettitle:before,
.single .disqus-header:before {
  border-right: 15px solid transparent;
}
.single #content .widgettitle:after,
.single .article-bottom .widget h5.widgettitle:after,
.single .disqus-header:after {
  border-left: 15px solid transparent;
}
@media only screen and (max-width: 768px) {
  .single #content .widgettitle,
  .single .article-bottom .widget h5.widgettitle,
  .single .disqus-header {
    white-space: normal;
  }
}
.single .article-bottom .widget + .widget {
  border-top: none;
}
.single article.category-infographic aside.in-post,
.single article.category-data aside.in-post {
  display: none;
}
/*
 * Copy Largo styles for hero media to the classic two-column layout.
 *
 * @since 1.1
 * @link http://jira.inn.org/browse/CC-5
 * @link https://github.com/INN/Largo/issues/934
 */
body.classic.single-post .hero {
  background-color: #efefef;
  width: 100%;
  margin: 0 0 24px;
}
body.classic.single-post .hero p {
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 4px;
  margin-top: 4px;
}
body.classic.single-post .hero p.wp-caption-text {
  padding-bottom: 12px;
}
#disqus_thread {
  border-top: none;
  background-color: #dbdada;
  padding: 25px;
}
/**
 * series landing ("issue") header
 *
 * Increase spacing between the header and the river
 * Increase header font size
 * Float image left and add appropriate spacing
 */
#series-header {
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccbcb;
}
#series-header .entry-title {
  font-size: 56px;
  margin: 0.5em 0;
}
#series-header .issue-publication-date {
  float: right;
}
#series-header img {
  float: left;
  margin-right: 20px;
  max-width: 175px;
  height: auto;
}
/**
 * Float post row image left and fix whitespace
 */
.single-cftl-tax-landing article div.has-thumbnail {
  float: left;
  margin: 0 20px 10px 0;
}
.single-cftl-tax-landing article div.has-thumbnail.is-empty {
  margin: 0;
}
@media only screen and (max-width: 768px) {
  #main #sidebar {
    width: 100%;
    float: none;
    clear: both;
    margin-left: 0;
  }
}
/*
 * Styles for archives.
 */
/*
 * Styles for the `[landing-archive]` shortcode, found in inc/shortcodes.php
 */
.landing-archive {
  margin: 0;
}
.landing-archive li {
  margin-top: 20px;
  display: block;
  border-bottom: 1px solid #cccbcb;
  padding-bottom: 10px;
  clear: both;
}
.landing-archive li:last-child {
  border-bottom: none;
}
.landing-archive img {
  float: left;
  margin: 4px 12px 6px 0;
  max-height: 180px;
  width: auto;
  -webkit-box-shadow: 0 2px 4px #dddddd;
  -moz-box-shadow: 0 2px 4px #dddddd;
  box-shadow: 0 2px 4px #dddddd;
}
.landing-archive .issue-pdf {
  text-align: right;
}
#landing-archive-nav {
  margin-bottom: 1.5em;
  overflow: hidden;
}
/*
 * partials/content-home.php
 */
.in-list img {
  float: left;
  margin: 0 2.7% 20px 0;
  max-width: 175px;
  height: auto;
}
.in-list .entry-title {
  font-size: 24px;
}
/*
 * Styles for the `[landing-archive]` shortcode year selector, found in inc/shortcodes.php
 */
.year-select {
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 1em;
}
.year-select label {
  display: inline-block;
  margin-bottom: 0;
}
.year-select select {
  vertical-align: baseline;
  margin-bottom: 0;
}
/* sidebar widgets */
#sidebar {
  /**
   * Styles for the "Get Connected" textwidget
   */
}
#sidebar .widget {
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  padding: 9px;
  margin-bottom: 20px;
}
#sidebar .widget .widgettitle {
  font-size: 24px;
  text-transform: none;
  color: white;
  background-color: #8f2508;
  padding: 12px 12px 10px;
  border-radius: 1px;
}
#sidebar .widget .widgettitle a {
  color: #fff;
}
#sidebar .widget .textwidget {
  padding: 10px;
}
#sidebar .widget.no-bg,
#sidebar .widget.largo-facebook,
#sidebar .widget.largo-twitter {
  border: none;
  padding: 0;
}
#sidebar .widget.no-bg {
  margin: 24px 0;
  padding: 9px;
}
#sidebar .widget.no-bg .widgettitle {
  padding: 0;
  background-color: transparent;
  color: black;
}
#sidebar .widget.rev {
  background-color: #dbdada;
  border: 0;
  border-radius: 1px;
}
#sidebar .widget.rev a {
  color: black;
}
#sidebar .widget.rev a.more:after {
  color: #d24f1c;
}
#sidebar .widget.rev h2 {
  font-size: 28px;
  margin-top: 0.8em;
}
#sidebar .largo-donate {
  padding: 20px;
}
#sidebar .largo-donate .widgettitle {
  font: 18px/24px 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #8f2508;
  background-color: transparent;
  padding: 0 0 0 0;
  text-transform: uppercase;
}
#sidebar .dia_signup {
  margin: 0.7em auto 0;
  max-width: 310px;
}
#sidebar .dia_signup input {
  display: inline-block;
  margin-bottom: 6px;
  border-radius: 3px;
  height: 28px;
  padding: 6px 4px 2px;
  font-size: 13px;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#sidebar .dia_signup input.btn {
  height: 28px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-left: -1px;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 18%;
}
/**
 * Here begin styles for the individual inputs
 */
#f1 {
  width: 45%;
}
#f3 {
  width: 100%;
}
#f2 {
  width: 53%;
  float: right;
}
#f9 {
  width: 80%;
}
#sidebar .rss-wrapper {
  text-align: center;
  margin-top: 1em;
}
#sidebar .rss-wrapper .icon-rss {
  background-color: #F89406 !important;
  position: relative;
  top: 0;
  padding: 4px 3px 1px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
}
/*
 * catalyst infographics
 *
 * Only appears on tax landing pages, in sidebar
 */
.catalyst-infographics ul {
  display: block;
}
.catalyst-infographics li {
  display: block;
  text-align: center;
  margin-bottom: 1.5em;
}
.catalyst-infographics a {
  font-weight: bold;
  font-size: 110%;
}
.catalyst-infographics img {
  display: block;
  margin: 0.5em auto;
}
/*
 * catalyst recent
 *
 * This widget kept in 1.1 because it does things Largo doesn't, see http://jira.inn.org/browse/CC-3
 */
.catalyst-recent .cat-description p {
  font-style: italic;
  font-size: 85%;
  line-height: 1.3em;
  margin: 10px 18px 20px;
}
.catalyst-recent article.post {
  margin: 10px 18px;
}
.catalyst-recent article.post .span10 {
  width: 100%;
}
.catalyst-recent article.post .entry-title {
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 10px;
}
.catalyst-recent article.post img {
  margin: 0.2em 0.8em 0.5em 0;
}
.catalyst-recent article.post p {
  font-size: 16px;
  line-height: 1.3em;
}
/* disqus recent comments */
ul.disqus_rcw_comments_list {
  margin: 0;
}
ul.disqus_rcw_comments_list li {
  display: block;
  margin-bottom: 1em;
}
ul.disqus_rcw_comments_list img {
  max-width: 24px;
  height: auto;
}
ul.disqus_rcw_comments_list .disqus_rcw_author_wrapper {
  display: none;
}
ul.disqus_rcw_comments_list .disqus_rcw_thread_title {
  font-weight: bold;
  color: #444444;
  font-size: 19px;
}
ul.disqus_rcw_comments_list .disqus_rcw_thread_title:hover {
  color: #3c81c1;
}
ul.disqus_rcw_comments_list .disqus_rcw_message {
  font-size: 15px;
  color: #444444;
}
ul.disqus_rcw_comments_list .disqus_rcw_message:hover {
  color: #30506e;
}
ul.disqus_rcw_comments_list time {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  display: block;
  color: #a4a4a4;
}
.footer-bg {
  background-color: #dbdada;
}
#site-footer {
  color: black;
}
#site-footer a {
  color: #d24f1c;
  font-weight: bold;
}
#site-footer a:hover {
  color: #3c81c1;
}
#site-footer #menu-footer-navigation a {
  color: #000;
}
#site-footer li.menu-label {
  display: none;
}
#site-footer p {
  font-size: 16px;
}
#site-footer .widgettitle {
  color: black;
}
footer #boilerplate p {
  color: #656565;
}
#site-footer a,
footer #boilerplate a {
  color: #d24f1c;
  font-weight: bold;
}
#site-footer a:hover,
footer #boilerplate a:hover {
  color: #3c81c1;
}
#menu-footer-navigation,
#supplementary ul.menu {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: bold;
}
#menu-footer-navigation li,
#supplementary ul.menu li {
  font-size: 18px;
}
/**
 * Print styles
 */
@media only print {
  .disqus-header,
  .navis-slideshow {
    display: none !important;
  }
  p {
    line-height: 18px !important;
    margin: 0 0 18px !important;
  }
}
body {
  font: 18px/24px 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  color: #629ace;
}
a:hover {
  color: #629ace;
  text-decoration: underline;
}
.btn-primary {
  background-color: #8f2508;
  border: none;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: 900;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: black;
}
/**
 * headings with lines
 * see approach 5 at http://jessica-eldredge.com/2014/01/26/headings-with-lines/
 */
.lightRuleHeading,
.ruled {
  font: 24px/28px 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #d24f1c;
  display: table;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}
.lightRuleHeading:before,
.ruled:before,
.lightRuleHeading:after,
.ruled:after {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  background-image: -moz-linear-gradient(transparent 48%, #a4a4a4 48%, #a4a4a4 51%, transparent 51%);
  background-image: -webkit-linear-gradient(transparent 48%, #a4a4a4 48%, #a4a4a4 51%, transparent 51%);
  background-image: linear-gradient(transparent 48%, #a4a4a4 48%, #a4a4a4 51%, transparent 51%);
  content: "";
  display: table-cell;
  width: 50%;
}
.lightRuleHeading:before,
.ruled:before {
  border-right: 15px solid transparent;
}
.lightRuleHeading:after,
.ruled:after {
  border-left: 15px solid transparent;
}
.more,
a.next,
.issue-pdf a {
  color: #d24f1c;
}
.more:after,
a.next:after,
.issue-pdf a:after {
  content: "▶";
  color: #cccbcb;
  margin-left: 0.4em;
  font-size: 80%;
}
.prev {
  color: #d24f1c;
}
.prev:before {
  content: "◀";
  color: #cccbcb;
  margin-right: 0.4em;
  font-size: 80%;
}
#page .date,
.issue-publication-date {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  margin: 0.5em 0;
}
.byline {
  font-size: 14px;
  font-style: italic;
}
.byline a {
  color: #3c81c1;
}
.byline .author {
  text-transform: none;
}
.stories article {
  border-bottom: 1px solid #a4a4a4;
}
h5.top-tag {
  font-size: 18px;
  font-weight: normal;
}
h5.top-tag a {
  color: #d24f1c;
}
@media only screen and (max-width: 767px) {
  #content {
    border-bottom: 1px solid #cccbcb;
    padding-bottom: 1em;
    margin-bottom: 2em;
  }
}
