/*
 * Homepage styles
 */
#homepage-catalyst figure {
  background-color: #eee;
}
#homepage-catalyst figure img {
  display: block;
}
#homepage-catalyst figcaption {
  margin-left: 9px;
  margin-right: 9px;
  font-size: 70%;
  line-height: 1.3em;
  text-align: right;
}
#homepage-catalyst .hero-caption {
  margin: 0 9px 9px 9px;
}
#homepage-catalyst article {
  border-bottom: 0;
}
.homepage-top-story h1 {
  font-size: 34px;
  line-height: 1.1em;
  margin-top: 25px;
  margin-bottom: 15px;
}
.homepage-top-story h2 {
  margin: 10px 0 20px;
}
.homepage-top-story article figure {
  margin: 0 0 24px;
}
.homepage-top-story p {
  font-size: 18px;
  line-height: 24px;
}
.homepage-top-story figure img {
  max-width: 100%;
}
.homepage-top-pair,
.homepage-featured {
  border-top: 1px solid #a4a4a4;
}
.homepage-top-pair figure,
.homepage-featured figure {
  float: left;
  margin: 0 4.25531915% 30px 0;
}
.homepage-top-pair .top-tag,
.homepage-featured .top-tag {
  margin: 18px 0;
}
.homepage-top-pair p,
.homepage-featured p {
  font-size: 16px;
  line-height: 1.2em;
}
.homepage-top-pair h1 {
  font-size: 22px;
  line-height: 1.1em;
  margin-bottom: 0.8em;
}
.homepage-top-pair article {
  border-bottom: 1px solid #a4a4a4 !important;
}
.homepage-top-pair article:last-child {
  border-bottom: 0 !important;
}
.homepage-featured h1 {
  font-size: 18px;
}
.home figure {
  float: left;
  margin: 0 1em 1em 0;
}
.home figure img {
  margin: 0;
  padding: 0;
}
.magazine figure,
.catalyst-more figure,
.tribe-events-list-widget-events figure {
  float: left;
  margin: 0 2.77777778% 30px 0;
}
.magazine h1,
.catalyst-more h1,
.tribe-events-list-widget-events h1,
.magazine h4,
.catalyst-more h4,
.tribe-events-list-widget-events h4 {
  font-size: 22px;
  line-height: 1.1em;
  margin-bottom: 0.8em;
}
.magazine .top-tag,
.catalyst-more .top-tag,
.tribe-events-list-widget-events .top-tag {
  margin-bottom: 18px;
}
.magazine p,
.catalyst-more p,
.tribe-events-list-widget-events p {
  font-size: 16px;
  line-height: 1.3em;
  margin-bottom: 1em;
}
.magazine a.more,
.catalyst-more a.more,
.tribe-events-list-widget-events a.more {
  font-weight: bold;
  color: #3c81c1;
  font-size: 16px;
}
.magazine a.prev,
.catalyst-more a.prev,
.tribe-events-list-widget-events a.prev {
  margin-top: 2em;
  font-size: 16px;
  font-weight: bold;
}
.magazine img,
.catalyst-more img,
.tribe-events-list-widget-events img {
  max-width: 175px;
  height: auto;
}
.magazine article,
.catalyst-more article,
.tribe-events-list-widget-events article {
  clear: both;
}
.homepage-middle {
  margin: 0.5em 0;
}
.homepage-middle .widget + .widget {
  border-top: 0;
}
.homepage-middle .widget > .widget {
  padding: 0 0 0 0;
}
@media only screen and (max-width: 960px) {
  .homepage-middle.row-fluid .span6 {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 660px) {
  #homepage-catalyst .span7,
  #homepage-catalyst .span5 {
    width: 100%;
    margin-left: 0;
  }
}
