/*
 * Styles for archives.
 */

/*
 * Styles for the `[landing-archive]` shortcode, found in inc/shortcodes.php
 */
.landing-archive {
  margin: 0;
  li {
    margin-top: 20px;
    display: block;
    border-bottom: 1px solid @liteGray;
    padding-bottom: 10px;
    clear: both;
    &:last-child {
      border-bottom: none;
    }
  }
  img {
    float: left;
    margin: 4px 12px 6px 0;
    max-height: 180px;
    width: auto;
    .box-shadow(0 2px 4px #ddd);
  }
  .issue-pdf {
    text-align: right;
  }
}
#landing-archive-nav {
  margin-bottom: 1.5em;
  overflow: hidden;
}

/*
 * partials/content-home.php
 */
.in-list {
  img {
    float: left;
    margin: 0 2.7% 20px 0;
    max-width: 175px;
    height: auto;
  }
  .entry-title {
    font-size: 24px;
  }
}

/*
 * Styles for the `[landing-archive]` shortcode year selector, found in inc/shortcodes.php
 */
.year-select {
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 1em;
  label {
    display: inline-block;
    margin-bottom: 0;
  }
  select {
    vertical-align: baseline;
    margin-bottom: 0;
  }
}
