.footer-bg {
  background-color: @fog;
}

#site-footer {
  color: black;
  a {
    color: @orange;
    font-weight: bold;
    &:hover {
      color: @blue;
    }
  }
  #menu-footer-navigation a {
    color: #000;
  }
  li.menu-label {
    display: none;
  }
  p {
    font-size: 16px;
  }
  .widgettitle {
    color: black;
  }
}

footer #boilerplate {
  p {
    color: #656565;
  }
}

#site-footer,
footer #boilerplate {
  a {
    color: @orange;
    font-weight: bold;
    &:hover {
      color: @blue;
    }
  }
}

#menu-footer-navigation,
#supplementary ul.menu {
  font-family: @sans;
  font-weight: bold;
  li {
    font-size: 18px;
  }
}
