/**
 * Header image
 */
#site-header {
  img {
    margin-top: 15px;
    max-width: 500px;
    display: block;
  }
  > a {
    float: left;
  }
  aside {
    box-sizing: border-box;
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid #a4a4a4;
    padding: 9px;
    text-align: center;
    font-size: 90%;
    h3 {
      font-size: 21px;
      margin-bottom: 0;
      text-transform: none;
    }
    p {
      margin-bottom: 11px;
      font-size: 17px;
    }
  }
  @media screen and (max-width: 880px) {
    > a {
	  float: none;
    }
    img {
	  margin: 0 auto;
    }
    aside {
      display: none;
    }
  }
}

/* Navigation */
.navbar,
.navbar.sticky-navbar {
  li.dropdown {
    .dropdown-menu {
      background-color: @fog;
      li a {
        color: @darkBlue;
		&:hover {
          background-color: @orange !important;
          color: white !important;
		}
	  }
    }
  }
  @media (max-width: 768px) {
    .nav-shelf li,
    .nav-shelf li.dropdown .dropdown-menu li {
      a {
        color: @darkBlue;
        &:hover {
          color: @white;
        }
      }
    }
  }
}

#header-search {
  margin-left: 10px;
}
@media screen and (max-width: 800px) and (min-width: 768px) {
  .sticky-nav-wrapper {
    display: none;
  }
}
  