// Ruled headings
.ruled-heading( @fontsize: 24px, @leading: 28px ) {
  font: @fontsize/@leading @sans;
  font-weight: 300;
  color: @orange;
  display: table;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  &:before,
  &:after {
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding;
	background-image: -moz-linear-gradient(transparent 48%, @midGray 48%, @midGray 51%, transparent 51%);
	background-image: -webkit-linear-gradient(transparent 48%, @midGray 48%, @midGray 51%, transparent 51%);
	background-image: linear-gradient(transparent 48%, @midGray 48%, @midGray 51%, transparent 51%);
	content: "";
	display: table-cell;
	width: 50%;
  }
  &:before {
	border-right: 15px solid transparent;
  }
  &:after {
    border-left: 15px solid transparent;
  }
}
