.single {
  h1.entry-title {
    font-size: 32px;
  }

  /**
   * Now begins a block of styles left for Legacy support:
   *
   * - figcaption
   * - .in-post
   * - figure
   * @since 1.1
   * @since Largo 0.5.4
   */
  // These styles specifically are for the two-column template
  article > header {
    figcaption {
      font-size: 70%;
      line-height: 1.3em;
      text-align: right;
    }
  }

  .in-post {
    width: 46%;
    float: right;
    margin-left: 4%;
    margin-right: 1%;
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      float: none;
      margin: 10px 0;
    }
    // Styles for the Catalyst Related widget, removed again
    ul.related {
      margin: 0;
      padding: 0;
      li {
        display: block;
      }
    }
  }

  figure {
    margin: 1em auto;
    img {
      display: block;
      margin: 0 auto;
    }
  }

  #content .widgettitle,
  .article-bottom .widget h5.widgettitle,
  .disqus-header {
    .ruled-heading();
    @media only screen and (max-width: 768px) {
      white-space: normal;
    }
  }

  // Removing the border-top because of the .ruled-heading effects
  .article-bottom {
    .widget + .widget {
      border-top: none;
    }
  }

  article.category-infographic,
  article.category-data {
    aside.in-post {
      display: none;
    }
  }
}

/*
 * Copy Largo styles for hero media to the classic two-column layout.
 *
 * @since 1.1
 * @link http://jira.inn.org/browse/CC-5
 * @link https://github.com/INN/Largo/issues/934
 */
body.classic.single-post .hero {
  background-color: #efefef;
  width: 100%;
  margin: 0 0 24px;
  p {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 4px;
    margin-top: 4px;
  }
  p.wp-caption-text {
    padding-bottom: 12px;
  }
}

// disqus box
#disqus_thread {
  border-top: none;
  background-color: @fog;
  padding: 25px;
}

/**
 * series landing ("issue") header
 *
 * Increase spacing between the header and the river
 * Increase header font size
 * Float image left and add appropriate spacing
 */
#series-header {
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid @liteGray;
  .entry-title {
    font-size: 56px;
    margin: 0.5em 0;
  }
  .issue-publication-date {
    float: right;
  }
  img {
    float: left;
    margin-right: 20px;
    max-width: 175px;
    height: auto;
  }
}

/**
 * Float post row image left and fix whitespace
 */
.single-cftl-tax-landing article div.has-thumbnail {
  float: left;
  margin: 0 20px 10px 0;
  &.is-empty {
    margin: 0;
  }
}

//responsive stuff
@media only screen and (max-width: 768px) {
  #main #sidebar {
    width: 100%;
    float: none;
    clear: both;
    margin-left: 0;
  }
}