// Colors
// -------------------------
@blue:              #3c81c1;
@darkBlue:          #30506e;
@red:               #8f2508;
@orange:            #d24f1c;
@fog:               #dbdada;  // footer bg
@gray:              #908f8f;  // text
@liteGray:          #cccbcb;  // arrows
@midGray:           #a4a4a4;  // rules
@dark:              #444;
@white:             #fff;

// Navbar colors
@navbarBackground: @darkBlue;
@navbarText: @white;
@navbarLinkColor: @navbarText;

@stickyNavbarText: @white;
@stickyNavbarLinkColor: @stickyNavbarText;
@stickyNavbarBackgroundColor: @darkBlue;

@dropdownBackground: @fog;

// Fonts
// -------------------------
@sans:     'proxima-nova', Helvetica, Arial, sans-serif;
@sans-condensed: 'proxima-nova-alt-condensed', Helvetica, Arial,sans-serif;
