/* sidebar widgets */
#sidebar {
  .widget {
    border: 1px solid @midGray;
    border-radius: 5px;
    padding: 9px;
    margin-bottom: 20px;
    .widgettitle {
      font-size: 24px;
      text-transform: none;
      color: white;
      background-color: @red;
      padding: 12px 12px 10px;
      border-radius: 1px;
      a {
        color: #fff;
      }
    }
    .textwidget {
      padding: 10px;
    }
    &.no-bg,
    &.largo-facebook,
    &.largo-twitter {
      border: none;
      padding: 0;
    }
    &.no-bg {
      margin: 24px 0;
      padding: 9px;
      .widgettitle {
        padding: 0;
        background-color: transparent;
        color: black;
      }
    }
    &.rev {
      background-color: @fog;
      border: 0;
      border-radius: 1px;
      a {
        color: black;
        &.more:after {
          color: @orange;
        }
      }
      h2 {
        font-size: 28px;
        margin-top: 0.8em;
      }
    }
  }

  .largo-donate {
    padding: 20px;
    .widgettitle {
      font: 18px/24px @sans;
      font-weight: 300;
      color: @red;
      background-color: transparent;
      padding: 0 0 0 0;
      text-transform: uppercase;
    }
  }

  /**
   * Styles for the "Get Connected" textwidget
   */
  .dia_signup {
    margin: 0.7em auto 0;
    max-width: 310px;
    input {
      display: inline-block;
      margin-bottom: 6px;
      border-radius: 3px;
      height: 28px;
      padding: 6px 4px 2px;
      font-size: 13px;
      line-height: 1;
      position: relative;
      vertical-align: middle;
      font-family: @sans;
      max-width: 100%;
      .box-sizing(border-box);
    }

    // Size the submit button to match the input fields
    input.btn {
      height: 28px;
      text-transform: uppercase;
      border-radius: 3px;
      margin-left: -1px;
      float: right;
      .box-sizing(border-box);
      width: 18%;
    }
  }
} // end #sidebar because it is not needed for these following selectors
/**
 * Here begin styles for the individual inputs
 */
#f1 {
  width: 45%;
}
#f3 {
  width: 100%;
}
#f2 {
  width: 53%;
  float: right;
}
#f9 {
  width: 80%;
}

#sidebar { // Begin #sidebar again; the break was just because those selectors did not need to be so specific.
  // More styles for the "Get Connected" text widget
  .rss-wrapper {
    text-align: center;
    margin-top: 1em;
    .icon-rss {
      background-color: #F89406 !important;
      position: relative;
      top: 0;
      padding: 4px 3px 1px 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      font-size: 18px;
      color: #fff;
    }
  }
}

/*
 * catalyst infographics
 *
 * Only appears on tax landing pages, in sidebar
 */
.catalyst-infographics {
  ul {
    display: block
  }
  li {
    display: block;
    text-align: center;
    margin-bottom: 1.5em;
  }
  a {
    font-weight: bold;
    font-size: 110%;
  }
  img {
    display: block;
    margin: 0.5em auto;
  }
}

/*
 * catalyst recent
 *
 * This widget kept in 1.1 because it does things Largo doesn't, see http://jira.inn.org/browse/CC-3
 */
.catalyst-recent {
  .cat-description p {
    font-style: italic;
    font-size: 85%;
    line-height: 1.3em;
    margin: 10px 18px 20px;
  }
  article.post {
    margin: 10px 18px;
    .span10 {
      width: 100%;
    }
    .entry-title {
      font-size: 24px;
      line-height: 1.2em;
      margin-bottom: 10px;
    }
    img {
      margin: 0.2em 0.8em 0.5em 0;
    }
    p {
      font-size: 16px;
      line-height: 1.3em;
    }
  }
}

/* disqus recent comments */
ul.disqus_rcw_comments_list {
  margin: 0;
  li {
    display: block;
    margin-bottom: 1em;
  }
  img {
    max-width: 24px;
    height: auto;
  }
  .disqus_rcw_author_wrapper {
    display: none;
  }
  .disqus_rcw_thread_title {
    font-weight: bold;
    color: @dark;
    font-size: 19px;
    &:hover {
      color: @blue;
    }
  }
  .disqus_rcw_message {
    font-size: 15px;
    color: @dark;
    &:hover {
      color: @darkBlue;
    }
  }
  time {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    display: block;
    color: @midGray;
  }
}
