/**
 * Main stylesheet (aggregator) for Chicago Catalyst
 * Is compiled into css/main.css by Grunt; see Gruntfile.js
 */

/* Largo essentials */
@import "variables.less";
@import "mixins.less";

/* Custom Catalyst variables */
@import "_variables.less";
@import "_mixins.less";

/* Largo nav styles */
@import "navbar-common.less";
@import "navbar-sticky.less";

/* This theme's styles */
@import "_header.less";
@import "_single.less";
@import "_archive.less";
@import "_widgets.less";
@import "_footer.less";
@import "_print.less";

body {
  font: 18px/24px @sans;
  font-weight: 300;
}

a {
  color: lighten( @blue, 10% );
  &:hover {
    color: lighten( @blue, 10% );
    text-decoration: underline;
  }
}

.btn-primary {
  background-color: @red;
  border: none;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @sans;
  font-weight: 900;
  a {
    color: black;
  }
}

/**
 * headings with lines
 * see approach 5 at http://jessica-eldredge.com/2014/01/26/headings-with-lines/
 */
.lightRuleHeading,
.ruled {
  .ruled-heading();
}

// custom styles used in hand-written widgets and markup.
.more,
a.next,
.issue-pdf a {
  color: @orange;
  &:after {
    content: "▶";
    color: @liteGray;
    margin-left: 0.4em;
    font-size: 80%;
  }
}

// custom styles used in hand-written widgets and markup.
.prev {
  color: @orange;
  &:before {
    content: "◀";
    color: @liteGray;
    margin-right: 0.4em;
    font-size: 80%;
  }
}

#page .date,
.issue-publication-date {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  margin: 0.5em 0;
}

.byline {
  font-size: 14px;
  font-style: italic;
  a {
    color: @blue;
  }
  .author {
    text-transform: none;
  }
}

.stories article {
  border-bottom: 1px solid @midGray;
}

h5.top-tag {
  font-size: 18px;
  font-weight: normal;
  a {
    color: @orange;
  }
}

@media only screen and (max-width: 767px) {
  #content {
    border-bottom: 1px solid @liteGray;
    padding-bottom: 1em;
    margin-bottom: 2em;
  }
}

