/*
 * Homepage styles
 */

@import '../../../less/_variables.less';
#homepage-catalyst {
  figure {
    background-color: #eee;
    img {
      display: block;
    }
  }
  figcaption {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 70%;
    line-height: 1.3em;
    text-align: right;
  }
  .hero-caption {
    margin: 0 9px 9px 9px;
  }
  article {
    border-bottom: 0;
  }
}

.homepage-top-story {
  h1 {
    font-size: 34px;
    line-height: 1.1em;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  h2 {
    margin: 10px 0 20px;
  }
  article figure {
    margin: 0 0 24px;
  }
  p {
    font-size: 18px;
    line-height: 24px;
  }
  figure img {
    max-width: 100%;
  }
}

.homepage-top-pair,
.homepage-featured {
  border-top: 1px solid @midGray;
  figure {
    float: left;
    margin: 0 percentage(20/470) 30px 0;
  }
  .top-tag {
    margin: 18px 0;
  }
  p {
    font-size: 16px;
    line-height: 1.2em;
  }
}

.homepage-top-pair {
  h1 {
    font-size: 22px;
    line-height: 1.1em;
    margin-bottom: 0.8em;
  }
  article{
    border-bottom: 1px solid @midGray !important;
  }
  article:last-child{
    border-bottom: 0 !important;
  }
}

.homepage-featured {
  h1 {
    font-size: 18px;
  }
}

.home figure {
  float: left;
  margin: 0 1em 1em 0;
  img {
    margin: 0;
    padding: 0;
  }
}

.magazine,
.catalyst-more,
.tribe-events-list-widget-events {
  figure {
    float: left;
    margin: 0 percentage(20/720) 30px 0;
  }
  h1, h4 {
    font-size: 22px;
    line-height: 1.1em;
    margin-bottom: 0.8em;
  }
  .top-tag {
    margin-bottom: 18px;
  }
  p {
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 1em;
  }
  a.more {
    font-weight: bold;
    color: @blue;
    font-size: 16px;
  }
  a.prev {
    margin-top: 2em;
    font-size: 16px;
    font-weight: bold;
  }
  img {
    max-width: 175px;
    height: auto;
  }
  article {
    clear: both;
  }
}

.homepage-middle {
  margin: 0.5em 0;
  .widget + .widget {
    border-top: 0;
  }
  .widget > .widget {
    padding: 0 0 0 0;
  }
}

@media only screen and (max-width: 960px) {
  .homepage-middle.row-fluid {
    .span6 {
      width: 100%;
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 660px) {
  #homepage-catalyst {
    .span7,
    .span5 {
      width: 100%;
      margin-left: 0;
    }
  }
}
